
<!-- http://localhost:9002/cds.html -->
<p>
	<input type="button" value="lire tout" id="buttonLire">
</p>
<table style="border: 1px solid black;" id="tableCds">

</table>
<script>
	let btLire = document.getElementById("buttonLire") 
	let tCds = document.getElementById("tableCds") 
	btLire.addEventListener("click", function(){
		btLire.disabled = true
		let xhr = new XMLHttpRequest()
		// execute la requete
		xhr.open("GET", "http://localhost:9002/json/cd")
		xhr.onreadystatechange = function(){
			// 200 -> code ok
			// 4 -> réponse reçue (état de la communication)
			if(this.status == 200 && this.readyState==4){
				console.log("Reponse recue : " + this.responseText)
				let cds = JSON.parse(this.responseText)
				let html = "<tr><th>Titre</th><th>Artiste</th><th>Annee</th></tr>"
				for(let cd of cds){
					html += "<tr><td>" + cd["titre"] + "</td>" +
								"<td>" + cd["artiste"] + "</td>" +
								"<td>" + cd["annee"] + "</td></tr>"
				}
				tCds.innerHTML = html
			}
		}
		xhr.send() // mettre les données dans les parenthèses
		// exemple : xhr.send(JSON.stringify(monCD))
	})
</script>
